.pokemon-moves {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
}
.pokemon-moves h2 {
  font-size: 1.5rem;
}
.pokemon-moves h2.title {
  color: #253d5b;
}
.pokemon-moves .filters button.filter {
  height: 2.5rem;
  font-size: 1rem;
  border: none;
  background-color: #3d3e3f;
  border-radius: var(--card-border-radius);
  padding: 0.25rem 1rem;
  margin: 0.25em;
  cursor: pointer;
}
.pokemon-moves .filters button.filter.active {
  background-color: #4d4e4f;
}
.moves-list {
  display: grid;
  columns: 1;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 0.5rem;
  padding-top: 1rem;
}
