.pokemon-type {
  box-sizing: border-box;
  min-width: 5rem;
  display: inline-flex;
  flex-direction: row;
  place-items: center;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--card-border-radius);
  color: var(--text-color);
  text-transform: capitalize;
}
.pokemon-type img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 36rem) {
  .pokemon-type {
    padding: 0.25rem 0.5rem;
  }
}
