.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  margin-left: -1.5rem;
  position: sticky;
  z-index: 200;
  top: 0;
}
@media (max-width: 70rem) {
  .search-container {
    background-color: white;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
    top: 4rem;
  }
}
.search-container label {
  position: relative;
  fill: var(--dark-text-color);
  top: 0.125rem;
  left: 2.5rem;
}
.search-container input {
  box-sizing: border-box;
  min-width: min(36rem, calc(100vw - 2rem));
  height: 3rem;
  padding: 0.5rem 2.75rem;
  border-radius: 100px;
  border: 1px solid var(--dark-text-color);
  outline: none;
  background-color: var(--bg-color);
  color: var(--dark-text-color);
  font-size: 1.25rem;
}
.search-container input::placeholder {
  color: var(--highlight-color);
}
.search-container input:focus {
  border: 1px solid var(--dark-text-color);
  outline: none;
}
