.pokemon-info-header-card {
  border-radius: var(--card-border-radius);
  font-size: 1.5rem;
  overflow-x: hidden;
  width: 100%;
}

.pokemon-info-header-card__content {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.pokemon-info-header-card__image-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  width: 12rem;
  height: 14rem;
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
}

.pokemon-info-header-card__image-background img {
  width: 12rem;
  height: 12rem;
  margin: auto;
}

.pokemon-info-header-card h2 {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  font-size: 2rem;
}

.pokemon-info-header-card__info {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 0.5rem;
}

.pokemon-info-header-card__title,
.pokemon-info-header-card__genera {
  display: flex;
  flex-grow: 0;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}

.pokemon-info-header-card__types {
  display: flex;
  place-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.pokemon-info-header-card__info h2,
.pokemon-info-header-card__info h3 {
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.pokemon-info-header-card__genera {
  color: var(--text-color);
}

.pokemon-info-header-card__genera h3 {
  padding-top: 0;
  font-size: 1.25rem;
}

.pokemon-info-header-card .pokemon-number {
  color: var(--text-color);
  font-size: 1.5em;
  margin: 0.25rem 1rem;
}

@media (max-width: 36rem) {
  .pokemon-info-header-card {
    flex-shrink: 0;
  }

  .pokemon-info-header-card__title h2 {
    padding-bottom: 0;
    margin-block-end: 0;
  }
}
