:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --type-bug: #8cb230;
  --type-dark: #58575f;
  --type-dragon: #0f6ac0;
  --type-electric: #eed535;
  --type-fairy: #ed6ec7;
  --type-fighting: #d04164;
  --type-fire: #fd7d24;
  --type-flying: #748fc9;
  --type-ghost: #556aae;
  --type-grass: #62b957;
  --type-ground: #dd7748;
  --type-ice: #61cec0;
  --type-normal: #9da0aa;
  --type-poison: #a552cc;
  --type-psychic: #ea5d60;
  --type-rock: #baab82;
  --type-steel: #417d9a;
  --type-water: #4a90da;

  --stat-hp: #d53947;
  --stat-attack: #fda827;
  --stat-defence: #0091eb;
  --stat-special-attack: #378d42;
  --stat-special-defence: #4b067f;
  --stat-speed: #8fb0c6;

  --header-color: #ff4949;
  --bg-color: #ffffff;
  --text-color: #ffffff;
  --dark-text-color: #6d6e6f;
  --pokemon-number-color: rgba(0, 0, 0, 0.175);
  --card-border-radius: 0.5rem;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--bg-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  ::-webkit-scrollbar {
    width: 0;
  }
}
@media (max-width: 34rem) {
  :root {
    font-size: 0.675rem;
  }
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: start;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: var(--header-color);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.25);
  z-index: 100;
  top: 0;
  transition: all 0.5s;
}

header.collapsed {
  justify-content: start;
}

header img {
  height: 8rem;
  transition: all 0.5s;
}

header.collapsed img {
  height: 4rem;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.pokemon-card {
  width: 16rem;
  text-transform: capitalize;
  border-radius: var(--card-border-radius);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.pokemon-card:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
  transition: all 0.3s;
}

.pokemon-card .pokemon-image-background {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-top-left-radius: var(--card-border-radius);
  border-top-right-radius: var(--card-border-radius);
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
  background-color: rgba(255, 255, 255, 0.6);
}

.pokemon-card .pokemon-image-background img {
  margin-top: -5rem;
  z-index: 10;
}

.pokemon-card .pokemon-image-background .pokemon-number {
  position: relative;
  font-size: 2.5rem;
  color: var(--pokemon-number-color);
  z-index: 5;
}

.pokemon-card h2 {
  margin-top: 0.25rem;
  color: var(--bg-color);
}

.pokemon-type {
  box-sizing: border-box;
  min-width: 5rem;
  display: inline-flex;
  flex-direction: row;
  place-items: center;
  padding: 0.5rem 0.75rem;
  margin: 0.5rem;
  gap: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.25);
  border-radius: var(--card-border-radius);
  color: var(--text-color);
  text-transform: capitalize;
}
.pokemon-type img {
  width: 1.5rem;
  height: 1.5rem;
}
@media (max-width: 34rem) {
  .pokemon-type {
    padding: 0.25rem 0.5rem;
  }
}

.pokemon-type.bug {
  background-color: var(--type-bug);
}
.pokemon-type.dark {
  background-color: var(--type-dark);
}
.pokemon-type.dragon {
  background-color: var(--type-dragon);
}
.pokemon-type.electric {
  background-color: var(--type-electric);
}
.pokemon-type.fairy {
  background-color: var(--type-fairy);
}
.pokemon-type.fighting {
  background-color: var(--type-fighting);
}
.pokemon-type.fire {
  background-color: var(--type-fire);
}
.pokemon-type.flying {
  background-color: var(--type-flying);
}
.pokemon-type.ghost {
  background-color: var(--type-ghost);
}
.pokemon-type.grass {
  background-color: var(--type-grass);
}
.pokemon-type.ground {
  background-color: var(--type-ground);
}
.pokemon-type.ice {
  background-color: var(--type-ice);
}
.pokemon-type.normal {
  background-color: var(--type-normal);
}
.pokemon-type.poison {
  background-color: var(--type-poison);
}
.pokemon-type.psychic {
  background-color: var(--type-psychic);
}
.pokemon-type.rock {
  background-color: var(--type-rock);
}
.pokemon-type.steel {
  background-color: var(--type-steel);
}
.pokemon-type.water {
  background-color: var(--type-water);
}

.pokemon-details {
  padding: 0;
  height: calc(100vh - 8rem);
  display: flex;
  align-items: start;
  align-content: start;
  justify-content: start;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}

.pokemon-details .pokemon-card.header {
  font-size: 1.5rem;
  height: 16rem;
  width: min(calc(100vw - 2rem), 36rem);
  cursor: default;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.pokemon-details .pokemon-card.header .pokemon-image-background {
  height: 14rem;
  border-top-right-radius: var(--card-border-radius);
  border-bottom-right-radius: var(--card-border-radius);
  border-bottom-left-radius: 20rem;
  border-top-left-radius: 20rem;
  display: flex;
}

.pokemon-details .pokemon-card.header .pokemon-image-background img {
  width: 12rem;
  height: 12rem;
  margin: auto;
}

.pokemon-details .pokemon-card.header .pokemon-info {
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding-left: 1rem;
}

.pokemon-details .pokemon-card.header .pokemon-info .pokemon-title,
.pokemon-details .pokemon-card.header .pokemon-info .pokemon-genera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.pokemon-details .pokemon-card.header .pokemon-info .pokemon-types {
  display: flex;
  place-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.pokemon-details .pokemon-card.header .pokemon-info h2,
.pokemon-details .pokemon-card.header .pokemon-info h3 {
  padding: 0;
  padding-top: 1rem;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.pokemon-details .pokemon-card.header .pokemon-genera {
  color: var(--text-color);
}

.pokemon-details .pokemon-card.header .pokemon-number {
  color: var(--text-color);
  font-size: 1.5em;
  margin: 0.25rem 1rem;
}

.pokemon-details .pokemon-card:hover {
  transform: none;
}

.pokemon-species,
.pokemon-stats {
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1.5rem;
  width: min(calc(100vw - 2rem), 36rem);
  display: flex;
  border-radius: var(--card-border-radius);
  flex-direction: column;
}

.pokemon-species h2,
.pokemon-stats h2 {
  margin-top: 0;
  font-size: 2rem;
}
.pokemon-species .info {
  display: grid;
  color: var(--dark-text-color);
  grid-template-columns: 1fr 1fr;
  border-radius: var(--card-border-radius);
  background-color: rgba(255, 255, 255, 0.5);
  margin-top: 1rem;
}
.pokemon-species .info h4 {
  margin-top: 0.5rem;
  margin-bottom: 0;
  text-transform: capitalize;
}
.pokemon-species .info p {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
  font-style: italic;
}

.stat-bar {
  margin: 0.125rem;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.stat-bar h4,
.stat-bar p {
  margin: 0;
  margin-right: 1rem;
}
.stat-bar h4 {
  width: 12rem;
  text-align: right;
}
.stat-bar p {
  transition: all 3s;
  border-radius: var(--card-border-radius);
}
.stat-bar.hp p {
  background-color: var(--stat-hp);
}
.stat-bar.attack p {
  background-color: var(--stat-attack);
}
.stat-bar.defense p {
  background-color: var(--stat-defence);
}
.stat-bar.special-attack p {
  background-color: var(--stat-special-attack);
}
.stat-bar.special-defense p {
  background-color: var(--stat-special-defence);
}
.stat-bar.speed p {
  background-color: var(--stat-speed);
}
